<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Wexcel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Wexcel.Properties.Settings>
            <setting name="Appkey" serializeAs="String">
                <value>1714037797</value>
            </setting>
            <setting name="AppSecrect" serializeAs="String">
                <value>dd5bcec653376e94d78d3dca46e5dafe</value>
            </setting>
            <setting name="CallbackUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="AccessToken" serializeAs="String">
                <value />
            </setting>
        </Wexcel.Properties.Settings>
    </userSettings>
</configuration>